/*# name: Chicago95
  # author: Grassmunk
  # author: AdrianoML (rewrite/gtk 3.22 update)
  # author: EMH-Mark-I (rewrite/gtk 3.22/3.24 update)
  # date: February 7th, 2018
  # description: A Windows 95 classic theme for XFCE4. */

/* Comment about Pop-overs: I couldn't get over how much they looked like Clippy in MS Office 97 so thats why the buttons are different */

/* Do not remove */

/*# variant name: Nashville96 Gruvbox
  # author: donfaustinocortizone/donfaustino (author of the theme variant)
  # author: Grassmunk (author of Chicago 95)
  # author: matthewmx86 (author of Redmond97)
  # author: morhetz (author of the Gruvbox color scheme)
  # date: October 12th, 2022
  # description: A Windows-like GTK theme based on both Chicago95 (for GTK3) and Redmond97 (for GTK2) incoporating the Gruvbox color scheme.
*/

/* default color scheme */
@define-color bg_color #282828; /* Window Theme: buttonface */
@define-color fg_color #ebdbb2; /* Windows Theme: windowtext */
@define-color panel_fg_color #ebdbb2;
@define-color panel_fg_color_bright #1d2021;
@define-color base_color #282828; 
@define-color text_color #ebdbb2; /* Windows Theme: windowtext (any white area text)*/
@define-color text_color_#ebdbb2;
@define-color selected_bg_color #3c3836; /* Windows Theme: hilight */
@define-color selected_fg_color #f5e2a7; /* Windows Theme: hilighttext */
@define-color selected_inactive_bg_color #f5e2a7; 
@define-color selected_inactive_fg_color #3c3836; 
@define-color tooltip_bg_color #282828; /* Windows Theme: infowindow, Tooltip background color */ 
@define-color tooltip_bg_shade #404040; /* Windows Theme: infotext, sometimes text hinting? */
@define-color tooltip_fg_color #D5C4A1; /* Windows Theme: infotext */
@define-color bg_bright #1d2021; /* Windows Theme: window, White inner window/text areas */
@define-color bg_shade shade(@bg_color, 0.66); 
@define-color bg_dark shade(@bg_color, 0.13); 
@define-color border_color #282828; /* Window Theme: buttonface */
@define-color border_bright #3c3c3c; /* Windows Theme: buttonlight */
@define-color border_light #282828; /* Windows Theme: buttonhilight */
@define-color border_dark #404040; /* Windows Theme: buttondkshadow */
@define-color border_shade #1b1b1b; /* Windows Theme: buttonshadow */
@define-color border_shade_dark #080808; 
@define-color outline_color @text_color; 
@define-color font_color @text_color; /* Windows Theme: windowtext (any white area text)*/
@define-color font_bright #fbf1c7; 
@define-color disabled_font_shadow #322f2a; /* Windows Theme: buttonhilight, testing confirmed this is what Windows 95 Uses for this setting */
@define-color disabled_font #7c6f64; /* Windows Theme: buttonshadow, testing confirmed this is what Windows 95 Uses for this setting */
@define-color icon_shadow black;
@define-color icon_shadow_bright white;
@define-color menu_text_color #ebdbb2; /* Windows Theme: menutext */
@define-color menu_bg_color #282828;       /* Windows Theme: menu, applied to 'menu' and 'menubar' */
@define-color button_text_color #ebdbb2; /* Windows Theme: buttontext */
@define-color button_bg_color #282828; /* Windows Theme: buttonface */
@define-color scrollbar_trough_bg_color #534945; /* Window theme: scrollbar, also controls task bar background color, per windows 95 themes */
@define-color scrollbar_bg_color @button_bg_color; /* Window theme: (scrollbar) buttonface */
@define-color scrollbar_solid_color @bg_color; /* Window Theme: Scrollbar, this is only if you want the scrollbar trough solid color */
@define-color window_title_bg_color #282828; /* Windows Theme: activetitle */
@define-color window_title_text_color #ebdbb2;  /* Windows Theme: titletext */
@define-color inactive_title_bg_color #1d2021; /* Windows Theme: inactivetitle */
@define-color inactive_title_text_color #a89984; /* Windows Theme: inactivetitletext */

/* selection outline */
@define-color selected_outline #7c6f64; /* Selection button outline/frame color */

/* dark color scheme */
@define-color dark_bg_color @bg_color;
@define-color dark_fg_color @fg_color;

/* colormap actually used by the theme, to be overridden in other css files */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/*Nemo Desktop shadow fix*/
@define-color desktop_item_fg #ffffff;
@define-color desktop_item_selected_fg shade(@theme_selected_fg_color, 0.8);
@define-color desktop_item_text_shadow alpha(black, 0.8);

/* misc colors used by gtk+ */
@define-color info_fg_color @fg_color;
@define-color info_bg_color #3c3836;
@define-color warning_fg_color @fg_color;
@define-color warning_bg_color #FFEDCC;
@define-color question_fg_color @info_fg_color;
@define-color question_bg_color @info_bg_color;
@define-color error_fg_color @fg_color;
@define-color error_bg_color #cc241d;
@define-color link_color #d65d0e; /* Windows Theme: hottrackingcolor */
@define-color link_color_shadow #883A0D;
@define-color success_color #98971a;
@define-color warning_color #d79921;
@define-color error_color #cc241d;

/* osd */
@define-color osd_base @dark_bg_color;
@define-color osd_fg @dark_fg_color;
@define-color osd_bg alpha(@osd_base, 0.8);

/* lightdm greeter colors */
@define-color lightdm_bg_color @dark_bg_color;
@define-color lightdm_fg_color @dark_fg_color;

/* window manager colors */
@define-color wm_bg @titlebar_bg_color;
@define-color wm_border_focused mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.21);
@define-color wm_border_unfocused mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.12);
@define-color wm_title_focused mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
@define-color wm_title_unfocused mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
@define-color wm_icons_focused mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
@define-color wm_icons_focused_prelight @selected_bg_color;
@define-color wm_icons_focused_pressed shade(@selected_bg_color, 0.8);
@define-color wm_icons_unfocused mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
@define-color wm_icons_unfocused_prelight @selected_bg_color;
@define-color wm_icons_unfocused_pressed shade(@selected_bg_color, 0.8);

/* Terminal Text color */
@define-color terminal_text_color @text_color;

/* Progressbar bg color */
@define-color progressbar_color @selected_bg_color;

/* Notebook colors */
@define-color notebook_label @font_color;
@define-color notebook_label_selected @font_color;
@define-color notebook_label_hover @font_color;
@define-color notebook_bg @bg_color;
@define-color notebook_bg_selected @bg_color;
@define-color notebook_bg_hover @bg_color;
@define-color notebook_bg_arrow transparent;

/* Whisker Menu Panel Button text color & size*/
@define-color whisker_button_text @fg_color;
#whiskermenu-button label {font-size: 11px;}

/* Whisker Menu side logo background color */
@define-color whisker_menu_logo @bg_shade;

/* XFCE desktop icon colours*/
@define-color xfd_icon_backdrop #504945;
@define-color xfd_icon_text #bdae93;
@define-color xfd_rubberband_outline #504945;

/* Nautilus desktop icon text colour */
@define-color nautilus_icon_text @base_color;
@define-color nautilus_icon_text_shadow @text_color;

@import url("apps/xfce.css");
@import url("apps/whiskermenu.css");
@import url("apps/filechooser.css");
@import url("apps/mate.css");
@import url("apps/thunar.css");
@import url("apps/caja.css");
@import url("apps/nemo.css");

/* Please keep these in their originial load order. */
@import url("gtk-widgets.css");
@import url("gtk-basic-effects.css");
@import url("gtk-buttons.css");
@import url("gtk-checks_radio.css");
@import url("gtk-frames.css");
@import url("gtk-viewports.css");
@import url("gtk-scrolledwindows.css");
@import url("gtk-list_cell_and_rows.css");
@import url("gtk-paned.css");
@import url("gtk-separators.css");
@import url("gtk-treeviews.css");
@import url("gtk-entry.css");
@import url("gtk-combobox.css");
@import url("gtk-scrollbar.css");
@import url("gtk-assistant.css");
@import url("gtk-headerbars.css"); 
@import url("gtk-menu.css");
@import url("gtk-notebooks.css");
@import url("gtk-progressbar.css");
@import url("gtk-popovers.css");
@import url("gtk-titlebars.css");
@import url("gtk-toolbar.css");
@import url("gtk-window.css");
@import url("gtk-windowbuttons.css");



/* @import url("apps/gnome-applications.css");
@import url("apps/granite-widgets.css");
@import url("apps/unity.css");
@import url("apps/xfce.css");
@import url("apps/nemo.css"); 
@import url("apps/synaptic.css");*/
@import url("apps/lightdm-gtk-greeter.css");
